# ESLintで、チェックを行う対象から外すファイルとディレクトリを設定するファイルです。

# 外部ライブラリ系
# publicディレクトリ内で管理している外部ライブラリディレクトリは除外します。
# ESLintはここに書かれたファイル、ディレクトリに加えてデフォルトで node_modules は除外します。
../public/assets/plugins/
../public/assets/js/corp/staff_list/clipboard.min.js
src/js/admin/information/jquery.ui.core.min.js
src/js/admin/information/jquery.ui.datepicker-ja.min.js
src/js/admin/information/jquery.ui.datepicker.min.js

# プッシュ通知関連はconsole.logを使用しているため、チェック対象から外す
../public/assets/js/push_notification/

# ビルド後のファイルと、ビルド後のファイルが出力されるディレクトリ
../public/assets/js/app.js
../public/assets/js/admin/
../public/assets/js/job/
../public/assets/js/modules/
../public/assets/js/teasercorp/common.min.js
../public/assets/js/teasercorp/top/index.min.js

# webpack用設定ファイル
# これはフロント用のJavaScriptファイルとはちょっと毛色が違うので対象外にします。
./webpack.config.js

# StyleGuide用ディレクトリ
./docs/
